@charset "UTF-8";
/*
 * 居中
 * -------------------------
 */
/*
 * float浮动
 * -------------------------
 */
/*
 * 清楚浮动
 * -------------------------
 */
.f-cf, body, #page {
  *zoom: 1; }
  .f-cf:before, body:before, #page:before, .f-cf:after, body:after, #page:after {
    content: "";
    display: table;
    overflow: hidden; }
  .f-cf:after, body:after, #page:after {
    clear: both; }

/*
 * inline-block
 * -------------------------
 */
audio, canvas, video, nav:after {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/*
 * 居中
 * -------------------------
 */
/*
 * 最大宽度
 * -------------------------
 */
/*
 * 最大高度
 * -------------------------
 */
/*
 * 圆
 * -------------------------
 */
/*
 * 透明
 * -------------------------
 */
/*
 * font字体
 * -------------------------
 */
/*
 * 三角
 * -------------------------
 */
.nav-menu:before {
  content: "";
  height: 0;
  width: 0;
  border-style: solid;
  *zoom: 1; }

/*
 * 超过加点点
 * -------------------------
 */
/*
 * 变灰
 * -------------------------
 */
/*
 * background-size: cover;
 * ie下，图片路径是相对于html文件，而不是css文件，所以要用绝对路径
 * -------------------------
 */
/*
 * transform: translate3d(X, Y, Z)
 * -------------------------
 */
/*
 * px转em
 * -------------------------
 */
/*
 * 根号，开方
 * -------------------------
 */
/*
 * px转em
 * -------------------------
 */
/*
 * 100%
 * -------------------------
 */
/* 防止用户自定义背景颜色对网页的影响，添加让用户可以自定义字体 */
html {
  color: #333;
  background: #fff;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-rendering: optimizelegibility;
  -moz-osx-font-smoothing: grayscale; }

/* 内外边距通常让各个浏览器样式的表现位置不同 */
body, dl, dt, dd, ul, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, menu, nav, section {
  margin: 0;
  padding: 0; }

/* 重设 HTML5 标签, IE 需要在 js 中 createElement(TAG) */
article, aside, details, figcaption, figure, footer, header, menu, nav, section {
  display: block; }

/* HTML5 媒体文件跟 img 保持一致 */
/* 要注意表单元素并不继承父级 font 的问题 */
body, button, input, select, textarea {
  font: 400 1em/1.8 Avenir, "Lucida Grande", Calibri, "Trebuchet MS", Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif; }

/* 去除 IE6 input/button 多余的空白 */
button, input {
  *width: auto;
  *overflow: visible;
  /* 让 input 和 button 一样高 */
  line-height: normal; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0; }

/* 去掉各Table cell 的边距并让其边重合 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* IE bug fixed: th 不继承 text-align */
th {
  text-align: inherit; }

/* 去除默认边框 */
fieldset, img {
  border: 0; }

img {
  -ms-interpolation-mode: bicubic;
  max-width: 100%; }

/* ie6 7 8(q) bug 显示为行内表现 */
iframe {
  display: block; }

/* 块/段落引用 */
blockquote {
  position: relative;
  color: #999;
  font-weight: 300;
  font-family: Avenir, 'Helvetica Neue', 'Microsoft Yahei', 'Hiragino Sans GB', 'Microsoft Sans Serif', 'WenQuanYi Micro Hei', sans-serif;
  border-left: 1px solid #d38a8a;
  padding-left: 1em;
  margin: 1em 3em 1em 2em; }

@media only screen and (max-width: 640px) {
  blockquote {
    margin: 1em 0; } }
/* Firefox 以外，元素没有下划线，需添加 */
acronym, abbr {
  border-bottom: 1px dotted;
  font-variant: normal; }

/* 添加鼠标问号，进一步确保应用的语义是正确的（要知道，交互他们也有洁癖，如果你不去掉，那得多花点口舌） */
abbr {
  cursor: help; }

/* 一致的 del 样式 */
del {
  text-decoration: line-through; }

address, caption, cite, code, dfn, em, th, var {
  font-style: normal;
  font-weight: 400; }

/* 去掉列表前的标识, li 会继承，大部分网站通常用列表来很多内容，所以应该当去 */
ul {
  list-style: none; }

/* 对齐是排版最重要的因素, 别让什么都居中 */
caption, th {
  text-align: left; }

q:before, q:after {
  content: ''; }

/* 统一上标和下标 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative; }

:root sub, :root sup {
  vertical-align: baseline;
  /* for ie9 and other modern browsers */ }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* 让链接在 hover 状态下显示下划线 */
a {
  color: #d38a8a; }

a:hover {
  text-decoration: underline; }

.typo a {
  border-bottom: 1px solid #1abc9c; }

.typo a:hover {
  border-bottom-color: #555;
  color: #555;
  text-decoration: none; }

/* 默认不显示下划线，保持页面简洁 */
ins, a {
  text-decoration: none; }

/* 专名号：虽然 u 已经重回 html5 Draft，但在所有浏览器中都是可以使用的，
 * 要做到更好，向后兼容的话，添加 class="typo-u" 来显示专名号
 * 关于 <u> 标签：http://www.whatwg.org/specs/web-apps/current-work/multipage/text-level-semantics.html#the-u-element
 * 被放弃的是 4，之前一直搞错 http://www.w3.org/TR/html401/appendix/changes.html#idx-deprecated
 * 一篇关于 <u> 标签的很好文章：http://html5doctor.com/u-element/ 
 */
u, .typo-u {
  text-decoration: underline; }

/* 标记，类似于手写的荧光笔的作用 */
mark {
  background: #fffdd1;
  border-bottom: 1px solid #ffedce;
  padding: 2px;
  margin: 0 5px; }

/* 代码片断 */
pre, code {
  font-family: "PT Mono", Menlo, "Courier New", "Microsoft YaHei", monospace;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-size: 0.92em; }

/* 一致化 horizontal rule */
hr {
  border: none;
  border-bottom: 1px solid #cfcfcf;
  margin-bottom: 10px;
  *color: pink;
  *filter: chroma(color=pink);
  height: 10px;
  *margin: -7px 0 2px; }

/* 底部印刷体、版本等标记 */
small, .typo-small,
figcaption {
  font-size: 0.9em;
  color: #888; }

strong, b {
  font-weight: inherit;
  color: #000; }

/* 可拖动文件添加拖动手势 */
[draggable] {
  cursor: move; }

.f-fl {
  float: left;
  display: inline; }

.f-fr {
  float: right;
  display: inline; }

/* 强制文本换行 */
.textwrap, .textwrap td, .textwrap th {
  word-wrap: break-word;
  word-break: break-all; }

/* 提供 serif 版本的字体设置: iOS 下中文自动 fallback 到 sans-serif */
.serif {
  font-family: Palatino, Optima, Georgia, serif; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 200; }

/* 高亮选中 */
::-moz-selection {
  background: #08c;
  color: #fff; }

::selection {
  background: #fa6666;
  color: #fff; }

a, button, input {
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0); }

/* 1.去除android a/button/input标签被点击时产生的边框 2.去除ios a标签被点击时产生的半透明灰色背景 */
/* 如果你的项目仅支持 IE9+ | Chrome | Firefox 等，推荐在 <html> 中添加 .borderbox 这个 class */
html.z-bxsbb *, html.z-bxsbb *:before, html.z-bxsbb *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.z-tbfixed {
  table-layout: fixed; }

.z-shan {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000; }

html {
  height: 100%; }

body {
  min-height: 100%; }

body {
  font-family: Avenir, "Lucida Grande", Calibri, "Trebuchet MS", Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
  font-size: 1em;
  line-height: 1.8;
  color: #bbbbbb;
  background-color: #222222;
  background-image: url(../img/bg.jpg);
  letter-spacing: .1em;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.5); }

a:hover {
  text-decoration: none; }

/*::-webkit-scrollbar-track-piece{background:#FFF;}
::-webkit-scrollbar{width:8px;height:8px;}
::-webkit-scrollbar-thumb{height:80px;background-color:#999;border:0;}
::-webkit-scrollbar-thumb:hover{background-color:#666;}
*/
header,
section,
footer,
#page,
.g-cm {
  max-width: 960px;
  margin: 0 auto; }

nav {
  position: absolute;
  top: 11px;
  right: 11px;
  width: 46px;
  height: 46px;
  background: #363636;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  font-size: 0;
  border-radius: 4px;
  background-clip: padding-box;
  z-index: 999; }
  nav:after {
    content: '';
    vertical-align: middle;
    height: 100%; }
  nav .i_warp {
    margin-top: -4px;
    display: inline-block;
    vertical-align: middle; }
  nav i {
    display: block;
    height: 3px;
    width: 20px;
    background: #fff;
    opacity: 1;
    margin: 4px auto 0;
    -webkit-transition: all 0.15s linear, opacity 0.05s linear;
    -moz-transition: all 0.15s linear, opacity 0.05s linear;
    transition: all 0.15s linear, opacity 0.05s linear; }
  nav input {
    position: absolute;
    max-height: 0;
    max-width: 0;
    opacity: 0; }
    nav input:checked ~ .i_warp i:nth-child(1) {
      -webkit-transform: rotate(45deg) translate3d(5px, 5px, 0);
      -moz-transform: rotate(45deg) translate3d(5px, 5px, 0);
      transform: rotate(45deg) translate3d(5px, 5px, 0); }
    nav input:checked ~ .i_warp i:nth-child(2) {
      opacity: 0; }
    nav input:checked ~ .i_warp i:nth-child(3) {
      -webkit-transform: rotate(-45deg) translate3d(5px, -5px, 0);
      -moz-transform: rotate(-45deg) translate3d(5px, -5px, 0);
      transform: rotate(-45deg) translate3d(5px, -5px, 0); }
    nav input:checked ~ .nav-menu {
      display: block; }
  nav label {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    cursor: pointer;
    z-index: 1000;
    /*background: rgba(50,50,50,.1);*/
    border-radius: 4px;
    background-clip: padding-box; }

.nav-menu {
  display: none;
  position: absolute;
  top: 56px;
  right: 0;
  width: 280px;
  background: #363636;
  font-size: 14px;
  border-radius: 4px;
  z-index: 999; }
  .nav-menu:before {
    position: absolute;
    border-width: 0 6px 8px 6px;
    border-color: transparent transparent #363636 transparent;
    _border-color: #fefefe #fefefe #363636 #fefefe;
    _filter: chroma(color=#fefefe);
    top: -8px;
    right: 17px; }
  .nav-menu a {
    display: block;
    color: #fff;
    line-height: 36px; }
    .nav-menu a:hover {
      background: #161616; }

#logo,
article {
  padding: 20px;
  border-bottom: 1px solid #1d1d1d; }

#logo {
  font-size: 1em; }
  @media (max-width: 35em) {
    #logo {
      text-align: center; } }
  #logo img {
    width: 50%;
    max-width: 180px; }
  #logo p {
    margin-bottom: 10px;
    color: #6f6f6f;
    text-align: left; }

article a, article a:link, article a:visited {
  -webkit-animation: cc 30s linear 0s infinite alternate;
  -moz-animation: cc 30s linear 0s infinite alternate;
  animation: cc 30s linear 0s infinite alternate; }
article h2 {
  letter-spacing: 3px;
  font-size: 1.8em;
  opacity: .9;
  -webkit-transition: color 1.3s ease-out;
  -moz-transition: color 1.3s ease-out;
  transition: color 1.3s ease-out;
  /*text-align: center;*/ }
  article h2:hover {
    opacity: 1; }
article .content p {
  margin-bottom: 20px; }
article time {
  display: block;
  color: #505050;
  font-size: .85em;
  /*text-align: right;*/ }
article .meta {
  text-align: right; }
  article .meta a {
    display: inline-block;
    color: #6f6f6f;
    font-size: .85em;
    margin-right: .5em;
    border-bottom: 1px dashed #414141;
    -webkit-animation: none;
    -moz-animation: none;
    animation: none;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    transition: all 1s ease-out; }
    article .meta a:hover {
      color: #fff; }

@-webkit-keyframes cc {
  0% {
    color: #d19292; }

  20% {
    color: #d1a292; }

  40% {
    color: #b7d192; }

  60% {
    color: #92d1b7; }

  80% {
    color: #9297d1; }

  100% {
    color: #c792d1; } }
@-moz-keyframes cc {
  0% {
    color: #d19292; }

  20% {
    color: #d1a292; }

  40% {
    color: #b7d192; }

  60% {
    color: #92d1b7; }

  80% {
    color: #9297d1; }

  100% {
    color: #c792d1; } }
@-ms-keyframes cc {
  0% {
    color: #d19292; }

  20% {
    color: #d1a292; }

  40% {
    color: #b7d192; }

  60% {
    color: #92d1b7; }

  80% {
    color: #9297d1; }

  100% {
    color: #c792d1; } }
@keyframes cc {
  0% {
    color: #d19292; }

  20% {
    color: #d1a292; }

  40% {
    color: #b7d192; }

  60% {
    color: #92d1b7; }

  80% {
    color: #9297d1; }

  100% {
    color: #c792d1; } }
#page {
  margin: 20px auto;
  text-align: center;
  font-size: 0; }
  #page div {
    display: inline-block;
    vertical-align: middle;
    background: #363636;
    font-size: 14px; }
  #page .top {
    padding: 14px 15px;
    line-height: 1;
    border-left: 1px solid #1d1d1d;
    border-right: 1px solid #1d1d1d; }
    #page .top a {
      color: #fff; }
  #page .prev span,
  #page .prev a, #page .next span,
  #page .next a {
    display: block;
    padding: 12px 15px;
    line-height: 0;
    vertical-align: middle;
    text-align: center;
    font-size: 36px;
    font-weight: 300;
    color: #fff;
    overflow: hidden; }
    #page .prev span:before, #page .prev span:after,
    #page .prev a:before,
    #page .prev a:after, #page .next span:before, #page .next span:after,
    #page .next a:before,
    #page .next a:after {
      content: '';
      display: block;
      height: 3px;
      width: 12px;
      margin: 4px 0;
      border-radius: 4px; }
  #page .prev span:before, #page .prev span:after, #page .next span:before, #page .next span:after {
    background: #666; }
  #page .prev a:before, #page .prev a:after, #page .next a:before, #page .next a:after {
    background: #fff; }
  #page .prev a:hover, #page .next a:hover {
    background: #363636; }
  #page .prev span:before,
  #page .prev a:before {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  #page .prev span:after,
  #page .prev a:after {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg); }
  #page .next span:before,
  #page .next a:before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg); }
  #page .next span:after,
  #page .next a:after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg); }

.g-cm {
  padding: 20px; }
  .g-cm li {
    position: relative;
    margin-bottom: 20px;
    padding-left: 75px;
    font-size: .875em; }
  .g-cm img {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%; }
  .g-cm .ctr {
    font-size: .75em;
    color: #666; }
  .g-cm input, .g-cm textarea {
    width: 100%;
    padding: 10px 12px;
    margin-bottom: 10px;
    background: #efefef;
    border: none; }
  .g-cm input {
    max-width: 280px; }
  .g-cm textarea {
    max-width: 560px; }
