@charset "UTF-8";
@import "core/var";
@import "core/css3";
@import "core/code";
#ds-thread{
	max-width: 960px;
	margin: 0 auto;
}
#ds-reset{
	padding: 20px;
	color: #bbb;
}
#ds-reset .ds-avatar{
	box-shadow: none;
	border-radius: 50%;
}
#ds-reset .ds-avatar img{
	width: 60px;
	height: 60px;
	border-radius: 50%;
}
#ds-thread #ds-reset .ds-replybox .ds-avatar img{
	width: 60px;
	height: 60px;
	border-radius: 50%;
}
#ds-thread #ds-reset .ds-replybox,
#ds-thread #ds-reset .ds-comment-body{
	padding-left: 70px;
}
#ds-thread.ds-narrow #ds-reset .ds-avatar img{
	width: 46px;
	height: 46px;
}
#ds-thread.ds-narrow #ds-reset .ds-comment-body, #ds-thread.ds-narrow #ds-reset .ds-replybox {
	padding-left: 56px;
}

#ds-thread #ds-reset .ds-post-options{
	display: none;
}
#ds-thread #ds-reset .ds-post-button{
	position: relative;
	top: 10px;
	float: right;
	border-radius: 4px;
	border: none;
	font-family: Avenir, "Lucida Grande", Calibri, "Trebuchet MS", Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
}
#ds-thread #ds-reset .ds-toolbar-buttons{
	display: none;
}
#ds-thread #ds-reset .ds-comments-info{
	display: none;
}
/* 评论框 */
#ds-thread #ds-reset .ds-textarea-wrapper{
	background: #fff;
	border-radius: 4px;
	border: none;

}
#ds-reset .ds-highlight{
	@include animation(cc 30s linear 0s infinite alternate);
}
#ds-thread #ds-reset li.ds-post,
#ds-thread #ds-reset .ds-post-self{
	border-top: none
}
#ds-thread.ds-narrow #ds-reset .ds-post-self,
#ds-thread #ds-reset .ds-post-self{
	padding-left: 0;
}

.ds-post-likes,.ds-post-repost,.ds-post-report{
	display: none !important;
}
#ds-thread #ds-reset .ds-reply-active .ds-post-reply{
	color: #999
}
#ds-thread #ds-reset a.ds-comment-context:hover,
#ds-thread #ds-reset a.ds-comment-context{
	color: #aaa
}
#ds-thread #ds-reset .ds-inline-replybox{
	padding-left: 0;
}
#ds-thread #ds-reset .ds-inline-replybox .ds-avatar{
	display: none;
}