---
layout: default
title: 范鴨's blog
---

<section>
{% for post in paginator.posts %}
	<article>
		<div class="tit">
			<h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
			<time>{{ post.date | date_to_string }}</time>
		</div>
		<div class="info">
			<div class="content">{{ post.excerpt }}</div>
		</div>
		<div class="meta">
			{% if post.category %}
				{% assign cate = false %}
				{% for d_cate in site.data.categories %}
					{% if d_cate.slug == post.category %}
						{% assign cate = d_cate %}
					{% endif %}
				{% endfor %}
				{% if cate and cate != '' %}
					<a href="/category/{{ cate.slug }}/" class="cate">{{cate.name]}}</a>
				{% else %}
					<a href="javascript:" class="cate">{{post.category}}</a>
				{% endif %}
			{% endif %}
			<a href="{{ post.url }}" class="more">阅读更多</a>
		</div>
	</article>
{% endfor %}
</section>


<!-- 分页链接 -->
<div id="page">
	<div class="prev">
	{% if paginator.previous_page %}
		{% if paginator.previous_page == 1 %}
			<a href="/"></a>
		{% else %}
			<a href="{{ paginator.previous_page_path }}"></a>
		{% endif %}
	{% else %}
		<span></span>
	{% endif %}
	</div>
	<div class="top">
		<a href="#">Top</a>
	</div>
	<div class="next">
	{% if paginator.next_page %}
	<a href="{{ paginator.next_page_path }}"></a>
	{% else %}
	<span></span>
	{% endif %}
	</div>
</div>
