<!doctype html>
<html class="z-bxsbb">
<head>
<meta charset="UTF-8">
<title>{{ page.title }}</title>
<link rel="stylesheet" href="/css/fun.css" />
<link rel="stylesheet" href="/css/prettify.css" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<script src="js/zepto.min.js"></script>
</head>
<body>
<header>
	<h1 id="logo">
		<a href="/"><img src="/img/logo.png" ></a>
		<p>DPS低，补血也不给力，又不能抗，总之基本上没什么害处_(:3」 ∠)_</p>
	</h1>
	<nav id="nav-switch">
		<label for="nav-toggle"></label>
		<input type="checkbox" name="nav-toggle" id="nav-toggle">
		<div class="i_warp">
			<i></i>
			<i></i>
			<i></i>
		</div>
		<div class="nav-menu">
			<ul>
				<li><a href="">About</a></li>
				<li><a href="">Link</a></li>
				<li><a href="">Work</a></li>
				<li><a href="">Music</a></li>
			</ul>
		</div>
	</nav>

</header>