---
layout: default
---

<section>
	{% assign post = page %}
	<article>
		<div class="tit">
			<h2>{{ post.title }}</h2>
			<time><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: '%b. %d, %Y' }}</time></time>
		</div>

		<div class="info">
			<div class="content">{{ content }}</div>
		</div>
		
		<div class="meta">

		{% if post.category %}
			<i>c</i>
			{% for d_cate in site.data.categories %}
				{% if d_cate.slug == post.category %}
					{% assign cate = d_cate %}
				{% endif %}
			{% endfor %}
			{% if cate and cate != '' %}
				<a href="/category/{{ cate.slug }}/" class="cate">{{cate.name]}}</a>
			{% else %}
				<a href="javascript:" class="cate">{{post.category}}</a>
			{% endif %}
		{% endif %}

		{% if post.tags.size > 0 %}
			<i>t</i>
			{% for post_tag in post.tags %}
				{% assign tag = false %}
				{% for data_tag in site.data.tags %}
					{% if data_tag.slug == post_tag %}
						{% assign tag = data_tag %}
					{% endif %}
				{% endfor %}
				{% if tag %}
					<a href="/tag/{{ tag.slug }}/">{{ tag.name }}</a>
				{% endif %}
			{% endfor %}
		{% endif %}
		
		</div>
	</article>
</section>


<!-- 多说评论框 start -->
<div class="ds-thread" data-thread-key="{{ post.uid }}" data-title="{{ page.title }}" data-url="{{ page.url }}"></div>
<!-- 多说评论框 end -->
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"funya"};
(function() {
	var ds = document.createElement('script');
	ds.type = 'text/javascript';ds.async = true;
	ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.unstable.js';
	ds.charset = 'UTF-8';
	(document.getElementsByTagName('head')[0] 
	 || document.getElementsByTagName('body')[0]).appendChild(ds);
})();
</script>
<link rel="stylesheet" href="/css/comment.css" />
